<body>
<div class="profile-container">
    <div class="container">
        <div class="row">
            <div class="profile-wrapper">
                <div class="info">
                    <div class="profile-pic">
                        <img src="../../../public/images/angular.png">
                    </div>
                    <div class="profile-name">
                        <span>Srijan Bajracharya</span>
                        <span>abc@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="profile-description">
                <div class="profile-description-wrapper">
                    <div class="description-profile">
                        <span class="profile-option">Name:</span>
                        <span class="description"> srijan bajracharya</span>
                    </div>
                    <div class="description-profile">
                        <span class="profile-option">Name:</span>
                        <span class="description"> srijan bajracharya</span>
                    </div>
                    <div class="description-profile">
                        <span class="profile-option">Name:</span>
                        <span class="description"> srijan bajracharya</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>