<body>
<div class="profile-container">
    <div class="container">
        <div class="row">
            <div class="profile-wrapper col-xs-12 col-sm-4">
                <div class="info">
                    <div class="profile-pic">
                        <img src="../../../public/images/angular.png">
                    </div>
                    <div class="profile-name">
                        <span>Srijan Bajracharya</span>
                        <span>abc@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="profile-description col-xs-12 col-sm-8">

            </div>
        </div>
    </div>
</div>
</body>