{{diagnostic}}
<form (ngSubmit)="onSubmit()">
    <ul class="selected-img-holder">
        <li *ngFor="let photo of model.photos" ><img class="select-img-thumb" src="{{photo.url}}" alt=""></li>
    </ul>
    <div class="form-group">
        <label >Album Name</label>
        <input type="text" class="form-control" required [(ngModel)]="model.name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control" [(ngModel)]="model.description"></textarea>
    </div>
    <input type="hidden" [(ngModel)]="model.user_id">

    <button type="submit" class="btn btn-default">Save Selected Pictures <span class="glyphicon glyphicon-save"></span></button>
</form>