*:after{
    display:block;
    content:"";
    clear:both;
}
/*profile page css begins here*/
.profile-wrapper {
    background-color: #00c853;
    padding:10px 0;
}
.profile-description{
    padding:15px 0;
    width:100%;
}
.profile-pic{
    border-radius: 50%;
    border:1px solid #c4c4c4;
    height: 150px;
    margin: 50px auto;
    width: 150px;
}

.profile-pic img {
    height: 150px;
    vertical-align: middle;
    width: 150px;
}

.profile-name{
    text-align:center;
    font-size: 18px;
}

.profile-name span{
    display: block;
}

.profile-description-wrapper {
    text-align: center;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    background-color:#fff;
}

.profile-description-wrapper span{
    display:block;
}

.profile-option{
    float: left;
}

.description-profile {
    padding: 20px 0;
    border-bottom:1px solid #c4c4c4;
}

@media (min-width:768px) {
    .profile-wrapper {
        background-color: #00c853;
        height: 100%;
        position: fixed;
        width: 25%;
    }

    .profile-description {
        float: right;
        padding: 15px 0;
        width: 75%;
    }

    .profile-description-wrapper{
        margin: 50px;
        padding: 40px;
    }
}
/*profile page css ends here*/

