<my-header></my-header>
<div class="home-wrapper">
    <div class="container">
        <div class="row main-content">
            <div class="col-xs-12 col-sm-9 picture-cards" *ngIf="searchName!==undefined || postCounts!==0">
                <div class="card" *ngFor="let post of resultPosts">
                    <p class="user-name"><img src={{post.profilePicture}}/> {{post.userName}}</p>
                    <div class="image-container"><img src={{post.imageUrl}} alt=""></div>
                    <p class="likes">Likes:{{post.likes}}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 picture-cards" *ngIf="searchName===undefined">
                <h1>Search image to create an album</h1>
            </div>
            <div class="col-xs-12 col-sm-9 picture-cards" *ngIf="postCounts<=0">
                <h1>Sorry no image found for this tag! Search again</h1>
            </div>
            <div class="col-sm-3 sidebar">
                <ul class="sidebar-nav">
                    <li><a (click)="submitData()" style="cursor: pointer">Save Selected Pictures <span
                            class="glyphicon glyphicon-save"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="postCounts>9 && postCount!==undefined">
            <div class="col-xs-9 show-more">
                <a href="#"><p>Show more</p><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
    </div>
</div>