<my-header></my-header>
<div class="home-wrapper">
    <div class="container">
        <div class="row main-content">
            <div class="col-xs-12 col-sm-9 picture-cards">
                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/> Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Pond Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Ducky Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Duckling Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Duck Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Duckling Photography</p>
                </div>
            </div>
            <div class="col-sm-3 sidebar">
                <!--<ul class="sidebar-nav">-->
                    <!--<li><a (click)="submitData()" style="cursor: pointer">Save Selected Pictures <span class="glyphicon glyphicon-save"></span></a></li>-->
                <!--</ul>-->
                {{diagnostic}}
                <form>
                    <ul class="selected-img-holder">
                        <li *ngFor="let photo of model.photos" ><img class="select-img-thumb" src="{{photo.url}}" alt=""></li>
                    </ul>
                    <div class="form-group">
                        <label >Album Name</label>
                        <input type="text" class="form-control" required [(ngModel)]="model.name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" [(ngModel)]="model.description"></textarea>
                    </div>
                    <input type="hidden" [(ngModel)]="model.user_id">

                    <button type="submit" class="btn btn-default">Save Selected Pictures <span class="glyphicon glyphicon-save"></span></button>
                </form>


            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 show-more">
                <a href="#"><p>Show more</p><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
    </div>
</div>