<div class="home-wrapper">
    <div class="container">
        <div class="row main-content">
            <div class="col-xs-12 col-sm-9 picture-cards">
                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/> Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Pond Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Ducky Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Duckling Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Duck Photography</p>
                </div>

                <div class="card">
                    <p class="user-name"><img src="../../../../public/images/johnny_duck.png"/>Johnny Duck</p>
                    <div class="image-container"><img src="../../../../public/images/angular.png" alt=""></div>
                    <p class="album-name">Duckling Photography</p>
                </div>
            </div>
            <div class="col-sm-3 sidebar">
                <ul class="sidebar-nav">
                    <li><a href="#">Save Selected Pictures <span class="glyphicon glyphicon-save"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 show-more">
                <a href="#"><p>Show more</p><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
    </div>
</div>