    <div class="container">
        <form class="form-signin">
            <div class="panel periodic-login">
                <div class="panel-body text-center">
                    <img src="../../../../public/images/rubber-duck.png"/>
                    <p class="atomic-mass">Ducky</p>
                    <p class="element-name">Albums</p>
                    <a class="btn col-md-12 clear-side-pad pull-" href="https://www.instagram.com/oauth/authorize/?client_id=e9b3606d89314de8ab297d5433fa6d2a&redirect_uri=http://localhost:8080/login/&response_type=token&scope=basic+public_content+likes">
                        <img src="https://cdn1.iconfinder.com/data/icons/somacro___dpi_social_media_icons_by_vervex-dfjq/500/instagram.png" height="50" width="50"/>
                        <span class="grey pad-10">Login With Instagram</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
