    <div class="container" *ngIf="!validUser">
        <form class="form-signin">
            <div class="panel periodic-login">
                <div class="panel-body text-center">
                    <img src="../../../../public/images/rubber-duck.png"/>
                    <p class="atomic-mass">Ducky</p>
                    <p class="element-name">Albums</p>
                    <a class="btn col-md-12 clear-side-pad pull-" href={{instagramUrl}}>
                        <img src="https://cdn1.iconfinder.com/data/icons/somacro___dpi_social_media_icons_by_vervex-dfjq/500/instagram.png" height="50" width="50"/>
                        <span class="grey pad-10">Login With Instagram</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
